services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django-app
    restart: unless-stopped
    networks:
      - app-network
    expose:
      - "8000"

  nginx:
    image: __DOCKER_USERNAME__/__APP_NAME__-nginx:__APP_VERSION__
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
