<div class="solitaire-board"> 
    <div class="top-row"> 
        <div class="pile stock" id="stock-pile">
            <div class="card" draggable="true" style="color: black;">♠ A</div>
            <div class="card" draggable="true" style="color: red;">♥ K</div>
        </div> 
        <div class="pile waste" id="waste-pile"></div> 
        <div class="spacer"></div> 
        <div class="pile foundation" id="foundation-hearts"></div> 
        <div class="pile foundation" id="foundation-diamonds"></div> 
        <div class="pile foundation" id="foundation-clubs"></div> 
        <div class="pile foundation" id="foundation-spades"></div> 
    </div> 
    
    <div class="tableau-row"> 
        <div class="pile tableau" id="tableau-1">
            <div class="card" draggable="true" style="color: red;">♦ Q</div>
        </div> 
        <div class="pile tableau" id="tableau-2"></div> 
        <div class="pile tableau" id="tableau-3"></div> 
        <div class="pile tableau" id="tableau-4"></div> 
        <div class="pile tableau" id="tableau-5"></div> 
        <div class="pile tableau" id="tableau-6"></div> 
        <div class="pile tableau" id="tableau-7"></div> 
    </div> 
</div>